<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expence_Tracker_Login_Page"
        tools:targetApi="31">
        <activity
            android:name=".create_account"
            android:exported="false" />
        <activity
            android:name=".add_category"
            android:exported="false" />
        <activity
            android:name=".this_month_expence"
            android:exported="false" />
        <activity
            android:name=".add_new_expences"
            android:exported="false" />
        <activity
            android:name=".Home_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>